{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{% static 'css/application_detail_employer.css' %}" rel="stylesheet" type="text/css" />
</head>

<header> 
  <div class="headerHC">
    <div class="boxedHC">
      <h1>On Campus Jobs</h1>
    </div>
  </div>
  <div class ="box">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
  <script src="script.js"></script>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'employerHomepage' %}">Home</a>
  </div>
  
</header>
  
<body>
    <h1>Application Details</h1>
    <span class = "label description">Job</span><br><br>
    <span class="label text">{{ application.job }}</label><br><br>
    <span class = "label description">Name</span><br><br>
    <span class="label text">{{ application.user }}</label><br><br>
    <span class = "label description">Email</span><br><br>
    <span class="label text">{{ application.email }}</label><br><br>
    <span class = "label description">Major</span><br><br>
    <span class="label text">{{ application.major }}</label><br><br>
    <span class = "label description">Expected Graduation Year</span><br><br>
    <span class="label text">{{ application.year }}</label><br><br>
    <span class = "label description">Why are you a good fit for this position?</span><br><br>
    <span class="label text">{{ application.fit }}</label><br><br>
    <span class = "label description">Resume</span><br><br>
    <span class="label text"><a href="{{ application.resume }}">View</a></label><br><br>
    <span class = "label description">Decision</span><br><br>
    <span class="label text">{{ application.decision }}</label><br><br>
<hr>  

 <form action="{% url 'decisionAccept' application.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="applybtn">Accept</button>
</form>
<form action="{% url 'decisionDecline' application.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="rejectbtn">Decline</button>
</form>
  
</body>

</html>